body{
    font-family: 'Noto Sans TC', sans-serif;
}
.welcome{
    /* width: 1920px; */
    color: white;
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* padding-top: 220px */
}
#logo{
    padding-top: 220px;
}
.title-1{
    padding-top: 28px;
    font-size: 50px;
}
.title-2{
    padding-top: 18px;
    font-size: 50px;
}
.mouse-click{
    padding-top: 140px;
    padding-bottom: 35px;
}
.about-us{
    text-align: center;
}
.services{
    /* height: 488px; */
    background-image: url("/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 105px;
    padding-bottom: 35px;
}
h3{
    text-align: center;
}
.row-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}
.row-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}
.contact-us{
    /* padding-top: 300px ; */
    height: 630px;
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#cont{
    padding-top: 60px;
}
.row{
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    opacity: 30%;
}
.form-group{
    padding-right: 150px;
    padding-left: 170px;
    opacity: 30%;
}
*:-moz-placeholder{
    color: white;
    opacity: 1;
}
.icons{
    text-align: center;
}
.bottom{
    text-align: center;
}

.design-hidden{
    display: none;
    max-width: 500px;
    text-align: center;
}
.development-hidden{
    display: none;
    max-width: 600px;
    text-align: center;
}
.product-hidden{
    display: none;
    max-width: 500px;
    text-align: center;
}
.work8{
    color: white;
    position: absolute;
    top: 2050px;
    left: 1080px;
    border: white solid 5px;
    height: 250px;
    width: 300px;
    background-color: black;
    opacity: 60%;
}
.work8-1{
    position: absolute;
    top: 8px;
    left: 16px;
}
.work8-2{
    position: absolute;
    top: 40px;
    left: 16px;
}
form{

    opacity: 70%;
    /* color: white; */
}