
.welcome{
    height: 1071px;
    color: white;
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.services{
    height: 488px;
    background-image: url("/assets/backgrounds/s_image.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-us{
    /* padding-top: 300px ; */
    height: 683px;
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
